@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Open Sans:100,200,300,400,500,600,700');

/*-------------------------------------------------------------------Background Image*/

body {
    /*Image taken from "http://www.winwallpapers.net/sky-blue/"*/
    background: url("/photos/sky-blue.jpg");
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: no-repeat;
    -moz-background-size: no-repeat;
    -o-background-size: no-repeat;
}

/*------------------------------------------------------------------Navbar*/

.navigation {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
}

/*------------------------------------------------------------------Jumbotron header*/

.jumbotron {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #ceb621;
    font-size: 7px;
    font-weight: 300;
    font-family: "Exo", sans-serif;
    overflow-x: hidden;
}

/*------------------------------------------------------------------International feeds*/

.display-4 {
    font-family: "Exo", sans-serif;
}

/*------------------------------------------------------------------Beaches photos*/

img-responsive {
    float: right;
}

h3 {
    font-family: "Exo", sans-serif;
}

.text-left {
    margin: 10px;
}

/*------------------------------------------------------------------Media queries*/

