@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Open Sans:100,200,300,400,500,600,700');

/*-------------------------------------------------------------------Background Image*/

body {
    /*Image taken from "http://www.winwallpapers.net/sky-blue/"*/
    background: url("/.c9/Photos/Sky-Blue.jpg");
    overflow: hidden!important;
    background-repeat: no-repeat;
    -webkit-background-size: no-repeat;
    -moz-background-size: no-repeat;
    -o-background-size: no-repeat;
}



